.G-Fsize-14-px {
	font-size: 14px;
}
.G-Fsize-12-px {
	font-size: 12px;
}
.G-Fsize-11-px {
	font-size: 11px;
}
.G-Fsize-13-px {
	font-size: 13px;
}
.G-Fsize-16-px {
	font-size: 16px;
}
.G-Ml-8-px {
	margin-left: 8px;
}
.G-Ml-24-px {
	margin-left: 24px;
}
.G-Mt-5-px {
	margin-top: 5px;
}
.G-Mt-8-px {
	margin-top: 8px;
}
.G-Mr-5-px {
	margin-right: 5px;
}
.G-Mr-8-px {
	margin-right: 8px;
}
.G-Mb-16-px {
	margin-bottom: 16px;
}
.G-Fsize-16-px {
	font-size: 16px;
}
.G-Fsize-18-px {
	font-size: 18px;
}
.G-Mt-4-px {
	margin-top: 4px;
}
.G-Ml-24-px {
	margin-left: 24px;
}
.G-Mt-10-px {
	margin-top: 10px;
}