
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-biaoqingfuhao:before {
	content: "\e6a5";
}
.icon-weizhi:before {
	content: "\e6a7";
}
.icon-lunbotu:before {
	content: "\e6aa";
}
.icon-wenben:before {
	content: "\e6ad";
}
.icon-xiaolian-line:before {
	content: "\e6ae";
}
.icon-kulian-line:before {
	content: "\e6af";
}
.icon-zidingyilie:before {
	content: "\e6b6";
}
.icon-xinxitishicopy:before {
	content: "\e6bf";
}
.icon-cuowu-fullcopy:before {
	content: "\e6c0";
}
.icon-guojihua:before {
	content: "\e6e4";
}
.icon-fuhao-:before {
	content: "\e704";
}
.icon-fuhao-command:before {
	content: "\e75f";
}
.icon-login:before {
	content: "\e766";
}
.icon-ziyuanjrit:before {
	content: "\e6b0";
}
.icon-ziyuanjrit1:before {
	content: "\e6b3";
}
.icon-ziyuanjrit2:before {
	content: "\e6b4";
}
.icon-ziyuanjrit3:before {
	content: "\e6b7";
}
.icon-ziyuanjrit4:before {
	content: "\e6b8";
}
.icon-fuhao-lianjie:before {
	content: "\e727";
}
.icon-huatifuhao:before {
	content: "\e8b0";
}
.icon-pintuankaituancantuan:before {
	content: "\e69f";
}
.icon-remen:before {
	content: "\e6a0";
}
.icon-kanjia1:before {
	content: "\e6a1";
}
.icon-pintuanzhuanqu:before {
	content: "\e6a2";
}
.icon-pintuan:before {
	content: "\e6a3";
}
.icon-wodekanjia1:before {
	content: "\e6a4";
}
.icon-xinpin:before {
	content: "\e69d";
}
.icon-chakan:before {
	content: "\e604";
}
.icon-pinglun:before {
	content: "\e891";
}
.icon-yuanxingxuanzhong:before {
	content: "\e731";
}
.icon-xiangce:before {
	content: "\e69c";
}
.icon-bangzhu1:before {
	content: "\e8c3";
}
.icon-fenlei4:before {
	content: "\e706";
}
.icon-yingxiangsheying:before {
	content: "\e70f";
}
.icon-yuyue:before {
	content: "\e69a";
}
.icon-paishe:before {
	content: "\e69b";
}
.icon-mingpian:before {
	content: "\e699";
}
.icon-wangluo:before {
	content: "\e697";
}
.icon-anzhuangshigong-xianxing:before {
	content: "\e8d6";
}
.icon-renzhengdunpaianquanbaozhangzhibao-xianxing:before {
	content: "\e7af";
}
.icon-fuwu1:before {
	content: "\e698";
}
.icon-REXcanzhuo_:before {
	content: "\e696";
}
.icon-dian:before {
	content: "\e695";
}
.icon-ruzhu:before {
	content: "\e765";
}
.icon-dingzhi:before {
	content: "\e694";
}
.icon-keyboard:before {
	content: "\e693";
}
.icon-caret-left:before {
	content: "\eb21";
}
.icon-you:before {
	content: "\e68e";
}
.icon-biaoqing:before {
	content: "\e68d";
}
.icon-yuyin:before {
	content: "\e6cf";
}
.icon-bofang:before {
	content: "\e68c";
}
.icon-shipin:before {
	content: "\e68b";
}
.icon-collect-01:before {
	content: "\e666";
}
.icon-collect2-01:before {
	content: "\e667";
}
.icon-delt2-01:before {
	content: "\e668";
}
.icon-download-01:before {
	content: "\e669";
}
.icon-upload-01:before {
	content: "\e66a";
}
.icon-heart-2-01:before {
	content: "\e66b";
}
.icon-heart1:before {
	content: "\e66c";
}
.icon-search-01:before {
	content: "\e66d";
}
.icon-shopping-01:before {
	content: "\e66e";
}
.icon-link-01:before {
	content: "\e670";
}
.icon-add-01:before {
	content: "\e671";
}
.icon-reduce-01:before {
	content: "\e672";
}
.icon-share-01:before {
	content: "\e674";
}
.icon-share2-01:before {
	content: "\e675";
}
.icon-location-01:before {
	content: "\e676";
}
.icon-location2-01:before {
	content: "\e677";
}
.icon-setting-01:before {
	content: "\e679";
}
.icon-back2-01:before {
	content: "\e67a";
}
.icon-next-01:before {
	content: "\e67b";
}
.icon-a-errorlight-01:before {
	content: "\e67e";
}
.icon-star-Admin-01:before {
	content: "\e67f";
}
.icon-Admin-01:before {
	content: "\e680";
}
.icon-like2-01:before {
	content: "\e681";
}
.icon-like-01:before {
	content: "\e682";
}
.icon-time-01:before {
	content: "\e683";
}
.icon-Service-01:before {
	content: "\e685";
}
.icon-Release-01:before {
	content: "\e686";
}
.icon-dustbin-01:before {
	content: "\e687";
}
.icon-a-voice-soundoff-01:before {
	content: "\e688";
}
.icon-voice-01:before {
	content: "\e689";
}
.icon-voice5-01:before {
	content: "\e68a";
}
.icon-zan1:before {
	content: "\e665";
}
.icon-guanfangrenzheng:before {
	content: "\e6a9";
}
.icon-miaosha:before {
	content: "\e663";
}
.icon-qianggou:before {
	content: "\e664";
}
.icon-hongbao:before {
	content: "\e660";
}
.icon-youhuiquan:before {
	content: "\e661";
}
.icon-haibao:before {
	content: "\e63e";
}
.icon-alarm_clock:before {
	content: "\e65c";
}
.icon-fenlei3:before {
	content: "\e65a";
}
.icon-servicehaiwaizhiyou:before {
	content: "\e658";
}
.icon-icon-test:before {
	content: "\e657";
}
.icon-weibiaoti1:before {
	content: "\e656";
}
.icon-fenlei2:before {
	content: "\e655";
}
.icon-qian:before {
	content: "\e64e";
}
.icon-dianhua:before {
	content: "\e64f";
}
.icon-bell:before {
	content: "\e64c";
}
.icon-icon-radio-check-disabled-copy:before {
	content: "\e64a";
}
.icon-ion-ios-checkmark-outline-IoniconsCopy3:before {
	content: "\e64b";
}
.icon-yijianfankui01:before {
	content: "\e646";
}
.icon-shouhuodizhi:before {
	content: "\e662";
}
.icon-shezhi2:before {
	content: "\e649";
}
.icon-tousuzixun:before {
	content: "\e6a6";
}
.icon-shangjia1:before {
	content: "\e78d";
}
.icon-taobaokefu-01:before {
	content: "\e645";
}
.icon-yinlian1193427easyiconnet:before {
	content: "\e65b";
}
.icon-lingquanzhongxin:before {
	content: "\e708";
}
.icon-wodekanjia:before {
	content: "\e638";
}
.icon-zhibobofangshexiangjitianxianxianxing:before {
	content: "\e63f";
}
.icon-fenxiang2:before {
	content: "\e641";
}
.icon-v:before {
	content: "\e653";
}
.icon-xiangji:before {
	content: "\e6fd";
}
.icon-jifen:before {
	content: "\e71b";
}
.icon-13:before {
	content: "\e63c";
}
.icon-shoucang1:before {
	content: "\e63a";
}
.icon-guanbi:before {
	content: "\e634";
}
.icon-xiangxiajiantou:before {
	content: "\e632";
}
.icon-shouye1:before {
	content: "\e651";
}
.icon-zhibo:before {
	content: "\e6ac";
}
.icon-top:before {
	content: "\e631";
}
.icon-yijianfankui:before {
	content: "\e65f";
}
.icon-lianxikefu:before {
	content: "\e648";
}
.icon-cainixihuan:before {
	content: "\e652";
}
.icon-daishouhuo1:before {
	content: "\e630";
}
.icon-shinshopdaipingjia:before {
	content: "\e62d";
}
.icon-daifukuan2:before {
	content: "\e76f";
}
.icon-yiwancheng:before {
	content: "\e64d";
}
.icon-weixin1:before {
	content: "\e7e5";
}
.icon-remai:before {
	content: "\e709";
}
.icon-shouhou:before {
	content: "\e62c";
}
.icon-pingjia:before {
	content: "\e626";
}
.icon-daishouhuo:before {
	content: "\e640";
}
.icon-daifahuo:before {
	content: "\e639";
}
.icon-dianshizhiboguankanshipinbofangmeiti:before {
	content: "\e625";
}
.icon-tuiguangrenguanli-:before {
	content: "\e633";
}
.icon-shoucang:before {
	content: "\e63d";
}
.icon-kanjia:before {
	content: "\e616";
}
.icon-wodepintuan:before {
	content: "\e62a";
}
.icon-xunipiaowu:before {
	content: "\e62e";
}
.icon-gonggao:before {
	content: "\e678";
}
.icon-coupon:before {
	content: "\e622";
}
.icon-choose:before {
	content: "\e63b";
}
.icon-yishiyong:before {
	content: "\e643";
}
.icon-yiguoqi:before {
	content: "\e642";
}
.icon-zhifubaozhifu1:before {
	content: "\e654";
}
.icon-xiaofeijilu:before {
	content: "\e635";
}
.icon-chongzhijilu:before {
	content: "\e620";
}
.icon-fuwu:before {
	content: "\e673";
}
.icon-mima:before {
	content: "\e61b";
}
.icon-fenxiang1:before {
	content: "\e65e";
}
.icon-zuji:before {
	content: "\e88e";
}
.icon-miaoshucopy:before {
	content: "\e623";
}
.icon-zuanshi1:before {
	content: "\e636";
}
.icon-qiandao:before {
	content: "\e65d";
}
.icon-gouxuan:before {
	content: "\e627";
}
.icon-fenlei1:before {
	content: "\e692";
}
.icon-fenlei:before {
	content: "\e629";
}
.icon-chuanshu:before {
	content: "\e62f";
}
.icon-22:before {
	content: "\e619";
}
.icon-tupian:before {
	content: "\e615";
}
.icon-tel:before {
	content: "\e618";
}
.icon-dizhi1:before {
	content: "\e644";
}
.icon-tuandui:before {
	content: "\e61c";
}
.icon-jiantou24:before {
	content: "\e72c";
}
.icon-yj:before {
	content: "\e650";
}
.icon-biyan:before {
	content: "\e6a8";
}
.icon-ico:before {
	content: "\e647";
}
.icon-zuanshi:before {
	content: "\e61d";
}
.icon-icon-:before {
	content: "\e624";
}
.icon-daifukuan:before {
	content: "\e691";
}
.icon-weixinzhifu2:before {
	content: "\e62b";
}
.icon-gouwuche:before {
	content: "\e69e";
}
.icon-ku:before {
	content: "\e617";
}
.icon-xiangshang:before {
	content: "\e6b1";
}
.icon-xiangxia1:before {
	content: "\e684";
}
.icon-shouye:before {
	content: "\e628";
}
.icon-sousuo1:before {
	content: "\e614";
}
.icon-jiahao:before {
	content: "\e613";
}
.icon-jianhao:before {
	content: "\e67c";
}
.icon-shanchu1:before {
	content: "\e67d";
}
.icon-tuiguangzhuanqian:before {
	content: "\e612";
}
.icon-dingdan:before {
	content: "\f1e5";
}
.icon-shang:before {
	content: "\e60d";
}
.icon-xia:before {
	content: "\e60e";
}
.icon-zan:before {
	content: "\e61f";
}
.icon-shangjia:before {
	content: "\e690";
}
.icon-serviceqitiantuihuan:before {
	content: "\e60c";
}
.icon-zhifubaozhifu:before {
	content: "\e621";
}
.icon-weixinzhifu:before {
	content: "\e611";
}
.icon-sousuo:before {
	content: "\e60b";
}
.icon-gouwuche1:before {
	content: "\e607";
}
.icon-faxian:before {
	content: "\e6d6";
}
.icon-wodedangxuan:before {
	content: "\e609";
}
.icon-index:before {
	content: "\e61a";
}
.icon-leimupinleifenleileibie:before {
	content: "\e60a";
}
.icon-weixin:before {
	content: "\e659";
}
.icon-cha:before {
	content: "\e6b5";
}
.icon-dizhi:before {
	content: "\e610";
}
.icon-youhuiquan01:before {
	content: "\e637";
}
.icon-guanzhu2:before {
	content: "\e6ab";
}
.icon-xiaoxi:before {
	content: "\e605";
}
.icon-shezhi1:before {
	content: "\e606";
}
.icon-qianbao:before {
	content: "\e66f";
}
.icon-guanzhu:before {
	content: "\e801";
}
.icon-guanzhu1:before {
	content: "\e601";
}
.icon-gouwuchekong:before {
	content: "\e603";
}
.icon-kefu:before {
	content: "\e600";
}
.icon-shezhi:before {
	content: "\e60f";
}
.icon-sandian:before {
	content: "\e68f";
}
.icon-pinpaibiaozhibarand:before {
	content: "\e800";
}
.icon-tiyanke:before {
	content: "\e61e";
}
.icon-saomiao:before {
	content: "\e602";
}
.icon-zhengpin:before {
	content: "\e6b2";
}
.icon-xiaoxi1:before {
	content: "\e608";
}
	/*宽度100%*/
.w-750 {
    	width: 750rpx;
}
.w-710 {
    	width: 710rpx;
    	margin-left: 20rpx;
    	margin-right: 20rpx;
}
.w-100 {
    	width: 100%;
}
.h-100 {
    	height: 100%;
}
._img {
    	width: 100% !important;
    	height: 100% !important;
}
image {
    	width: 100%;
    	height: 100%;
}
	/*flex布局*/
.d-f {
    	display: flex;
}
.row {
    	display: flex;
    	align-items: center;
    	justify-content: center;
}
.row-af {
    	display: flex;
    	align-items: flex-end;
}
.row-ac-sb {
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
}
.row-ac {
    	display: flex;
    	align-items: center;
}
.row-ab {
    	display: flex;
    	align-items: baseline;
}
.row-ac-fw {
    	display: flex;
    	align-items: center;
    	flex-wrap: wrap;
}
.row-a-j-fc {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: column;
}
.row-af-js-fw {
    	display: flex;
    	align-items: flex-start;
    	justify-content: space-between;
    	flex-wrap: wrap;
}
.border {
    	border-width: 1rpx;
    	border-style: solid;
    	border-color: #dee2e6;
}
.border-none {
    	border: none;
}
.border-red {
    	border: 1rpx #999 solid;
}
.border-top {
    	border-top-width: 1rpx;
    	border-top-style: solid;
    	border-top-color: #dee2e6;
}
.border-bottom {
    	border-bottom-width: 1rpx;
    	border-bottom-style: solid;
    	border-bottom-color: #dee2e6;
}
.border-right {
    	border-right-width: 1rpx;
    	border-right-style: solid;
    	border-right-color: #dee2e6;
}
.border-bottom-main {
    	border-bottom-color: #BF0F16;
}
.flex-row {
    	flex-direction: row !important;
}
.flex-column {
    	flex-direction: column !important;
}
.flex-row-reverse {
    	flex-direction: row-reverse !important;
}
.flex-column-reverse {
    	flex-direction: column-reverse !important;
}
.flex-wrap {
    	flex-wrap: wrap;
}
.flex-nowrap {
    	flex-wrap: nowrap;
}
.justify-start {
    	justify-content: flex-start;
}
.justify-end {
    	justify-content: flex-end;
}
.justify-between {
    	justify-content: space-between;
}
.justify-around {
    	justify-content: space-around;
}
.justify-center {
    	justify-content: center;
}
.align-center {
    	align-items: center;
}
.align-stretch {
    	align-items: stretch;
}
.align-start {
    	align-items: flex-start;
}
.align-end {
    	align-items: flex-end;
}
.position-fixed {
    	position: fixed;
}
.text-center {
    	text-align: center;
}
.flex-1 {
    	flex: 1;
}
.flex-2 {
    	flex: 2;
}
.flex-3 {
    	flex: 3;
}
.flex-4 {
    	flex: 4;
}
.flex-5 {
    	flex: 5;
}
	/* scroll-view 要用到的两个属性*/
.scroll-row {
    	width: 100%;
    	white-space: nowrap;
}
.scroll-row-item {
    	display: inline-block !important;
}
	/*上下左右边距*/
.mt {
    	margin-top: 5rpx;
}
.mt-1 {
    	margin-top: 10rpx;
}
.mt-2 {
    	margin-top: 20rpx;
}
.mt-3 {
    	margin-top: 30rpx;
}
.mt-4 {
    	margin-top: 40rpx;
}
.mt-5 {
    	margin-top: 50rpx;
}
.mt-6 {
    	margin-top: 60rpx;
}
.mt-7 {
    	margin-top: 70rpx;
}
.mt-8 {
    	margin-top: 80rpx;
}
.mt-9 {
    	margin-top: 90rpx;
}
.mb-0 {
    	margin-bottom: 0;
}
.mb-1 {
    	margin-bottom: 10rpx;
}
.mb-2 {
    	margin-bottom: 20rpx;
}
.mb-3 {
    	margin-bottom: 30rpx;
}
.mb-4 {
    	margin-bottom: 40rpx;
}
.mb-5 {
    	margin-bottom: 50rpx;
}
.ml-0 {
    	margin-left: 0;
}
.ml-1 {
    	margin-left: 10rpx;
}
.ml-2 {
    	margin-left: 20rpx;
}
.ml-3 {
    	margin-left: 30rpx;
}
.ml-4 {
    	margin-left: 40rpx;
}
.ml-5 {
    	margin-left: 50rpx;
}
.mr-0 {
    	margin-right: 0;
}
.mr-1 {
    	margin-right: 10rpx;
}
.mr-2 {
    	margin-right: 20rpx;
}
.mr-3 {
    	margin-right: 30rpx;
}
.mr-4 {
    	margin-right: 40rpx;
}
.mr-5 {
    	margin-right: 50rpx;
}
.mx {
    	margin-left: 5rpx;
    	margin-right: 5rpx;
}
.mx-0 {
    	margin-left: 0rpx;
    	margin-right: 0rpx;
}
.mx-1 {
    	margin-left: 10rpx;
    	margin-right: 10rpx;
}
.mx-2 {
    	margin-left: 20rpx;
    	margin-right: 20rpx;
}
.mx-3 {
    	margin-left: 30rpx;
    	margin-right: 30rpx;
}
.mx-4 {
    	margin-left: 40rpx;
    	margin-right: 40rpx;
}
.mx-5 {
    	margin-left: 50rpx;
    	margin-right: 50rpx;
}
.mx-6 {
    	margin-left: 60rpx;
    	margin-right: 60rpx;
}
.my {
    	margin-top: 5rpx;
    	margin-bottom: 5rpx;
}
.my-0 {
    	margin-top: 0rpx;
    	margin-bottom: 0rpx;
}
.my-1 {
    	margin-top: 10rpx;
    	margin-bottom: 10rpx;
}
.my-2 {
    	margin-top: 20rpx;
    	margin-bottom: 20rpx;
}
.my-3 {
    	margin-top: 30rpx;
    	margin-bottom: 30rpx;
}
.my-4 {
    	margin-top: 40rpx;
    	margin-bottom: 40rpx;
}
.my-5 {
    	margin-top: 50rpx;
    	margin-bottom: 50rpx;
}
.p-0 {
    	padding: 0;
}
.p {
    	padding: 5rpx;
}
.p-1 {
    	padding: 10rpx;
}
.p-2 {
    	padding: 20rpx;
}
.p-3 {
    	padding: 30rpx;
}
.p-4 {
    	padding: 40rpx;
}
.p-5 {
    	padding: 50rpx;
}
.p-6 {
    	padding: 60rpx;
}
.p-7 {
    	padding: 70rpx;
}
.p-8 {
    	padding: 80rpx;
}
.p-9 {
    	padding: 90rpx;
}
.pt-0 {
    	padding-top: 0;
}
.pt {
    	padding-top: 5rpx;
}
.pt-1 {
    	padding-top: 10rpx;
}
.pt-2 {
    	padding-top: 20rpx;
}
.pt-3 {
    	padding-top: 30rpx;
}
.pt-4 {
    	padding-top: 40rpx;
}
.pt-5 {
    	padding-top: 50rpx;
}
.pb-0 {
    	padding-bottom: 0;
}
.pb-1 {
    	padding-bottom: 10rpx;
}
.pb {
    	padding-bottom: 5rpx;
}
.pb-2 {
    	padding-bottom: 20rpx;
}
.pb-3 {
    	padding-bottom: 30rpx;
}
.pb-4 {
    	padding-bottom: 40rpx;
}
.pb-5 {
    	padding-bottom: 50rpx;
}
.pb-6 {
    	padding-bottom: 60rpx;
}
.pb-7 {
    	padding-bottom: 70rpx;
}
.pb-8 {
    	padding-bottom: 80rpx;
}
.pb-9 {
    	padding-bottom: 90rpx;
}
.pl-0 {
    	padding-left: 0;
}
.pl {
    	padding-left: 5rpx;
}
.pl-1 {
    	padding-left: 10rpx;
}
.pl-2 {
    	padding-left: 20rpx;
}
.pl-3 {
    	padding-left: 30rpx;
}
.pl-4 {
    	padding-left: 40rpx;
}
.pl-5 {
    	padding-left: 50rpx;
}
.pr-0 {
    	padding-right: 0;
}
.pr {
    	padding-right: 5rpx;
}
.pr-1 {
    	padding-right: 10rpx;
}
.pr-2 {
    	padding-right: 20rpx;
}
.pr-3 {
    	padding-right: 30rpx;
}
.pr-4 {
    	padding-right: 40rpx;
}
.pr-5 {
    	padding-right: 50rpx;
}
.py-0 {
    	padding-top: 0;
    	padding-bottom: 0;
}
.py {
    	padding-top: 5rpx;
    	padding-bottom: 5rpx;
}
.py-1 {
    	padding-top: 10rpx;
    	padding-bottom: 10rpx;
}
.py-2 {
    	padding-top: 20rpx;
    	padding-bottom: 20rpx;
}
.py-3 {
    	padding-top: 30rpx;
    	padding-bottom: 30rpx;
}
.py-4 {
    	padding-top: 40rpx;
    	padding-bottom: 40rpx;
}
.py-5 {
    	padding-top: 50rpx;
    	padding-bottom: 50rpx;
}
.px-0 {
    	padding-left: 0;
    	padding-right: 0;
}
.px-1 {
    	padding-left: 10rpx;
    	padding-right: 10rpx;
}
.px {
    	padding-left: 5rpx;
    	padding-right: 5rpx;
}
.px-2 {
    	padding-left: 20rpx;
    	padding-right: 20rpx;
}
.px-3 {
    	padding-left: 30rpx;
    	padding-right: 30rpx;
}
.px-4 {
    	padding-left: 40rpx;
    	padding-right: 40rpx;
}
.px-5 {
    	padding-left: 50rpx;
    	padding-right: 50rpx;
}
	/* 文字颜色 */
.text-main-color {
    	color: #BA271B;
}
.text-white {
    	color: #ffffff;
}
.text-light-grey {
    	color: #828282;
}
.text-primary {
    	color: #007bff;
}
.text-hover-primary {
    	color: #0056b3;
}
.text-secondary {
    	color: #6c757d;
}
.text-hover-secondary {
    	color: #494f54;
}
.text-success {
    	color: #28a745;
}
.text-hover-success {
    	color: #19692c;
}
.text-info {
    	color: #17a2b8;
}
.text-hover-info {
    	color: #0f6674;
}
.text-warning {
    	color: #ffc107;
}
.text-hover-warning {
    	color: #ba8b00;
}
.text-danger {
    	color: #dc3545;
}
.text-hover-danger {
    	color: #a71d2a;
}
.text-light {
    	color: #f8f9fa;
}
.text-hover-light {
    	color: #cbd3da;
}
.text-dark {
    	color: #343a40;
}
.text-hover-dark {
    	color: #121416;
}
.text-body {
    	color: #212529;
}
.text-muted {
    	color: #6c757d;
}
.text-light-muted {
    	color: #A9A5A0;
}
	/* 浅灰色用在input里公共色 */
.text-light-black {
    	color: rgba(0, 0, 0, 0.5);
}
.text-light-white {
    	color: rgba(255, 255, 255, 0.5);
}
.text-de {
    	text-decoration: line-through;
}
	/* 背景颜色 */
.bg-color {
    	background-color: #BA271B;
    	color: #FFFFFF;
}
.bg-disabled-color {
    	background-color: #ff5c5c;
    	color: #FFFFFF;
}
.bg-primary {
    	background-color: #007bff;
    	color: #FFFFFF;
}
.bg-light-black{
		background-color: #787878;
		color: #ffffff;
}
.bg-black{
		background-color: #303030;
		color: #ffffff;
}
.bg-hover-primary:hover {
    	background-color: #0062cc;
}
.bg-secondary {
    	background-color: #6c757d;
}
.bg-hover-secondary:hover {
    	background-color: #545b62;
}
.bg-success {
    	background-color: #28a745;
}
.bg-hover-success {
    	background-color: #1e7e34;
}
.bg-info {
    	background-color: #17a2b8;
}
.bg-hover-info {
    	background-color: #117a8b;
}
.bg-warning {
    	background-color: #ffc107;
    	color: #FFFFFF;
}
.bg-hover-warning {
    	background-color: #d39e00;
}
.bg-danger {
    	background-color: #dc3545;
}
.bg-hover-danger {
    	background-color: #bd2130;
}
.bg-light {
    	background-color: #f8f9fa;
}
.bg-hover-light {
    	background-color: #dae0e5;
}
.bg-dark {
    	background-color: #343a40;
}
.bg-hover-dark {
    	background-color: #1d2124;
}
.bg-white {
    	background-color: #ffffff;
}
.bg-button {
    	background-color: #f5f4f4;
}
.bg-transparent {
    	background-color: transparent;
}
.top-0 {
    	top: 0;
}
.left-0 {
    	left: 0;
}
.right-0 {
    	right: 0;
}
.bottom-0 {
    	bottom: 0;
}
	/*字体大小*/
.font-s-small {
    	/* 小字体 */
    	font-size: 16rpx;
}
.font-s-1 {
    	/* 小字体 */
    	font-size: 22rpx;
}
.font-s-2 {
    	/* 常规字体大小 */
    	font-size: 24rpx;
}
.font-s-3 {
    	/* 常规字体大小 */
    	font-size: 26rpx;
}
.font-s-4 {
    	/* 大字体 */
    	font-size: 28rpx;
}
.font-s-5 {
    	/* 超大字体 */
    	font-size: 30rpx;
}
.font-s-6 {
    	/* 超大字体 */
    	font-size: 32rpx;
}
.font-s-65 {
		/* 超大字体 */
		font-size: 38rpx;
}
.font-s-7 {
    	/* 超大字体 */
    	font-size: 42rpx;
}
.font-s-8 {
    	/* 超大字体 */
    	font-size: 60rpx;
}
.font-s-9 {
    	/* 超大字体 */
    	font-size: 72rpx;
}
.font-w {
    	/*超粗字体 */
    	font-weight: bold;
}
.font-w-300 {
		/*超粗字体 */
		font-weight: 300;
}
.font-w-200 {
		/*超粗字体 */
		font-weight: 200;
}
	/*字体粗细*/
	/* 定位 - 固定顶部 */
.fixed-top {
    	position: fixed;
    	top: 0;
    	right: 0;
    	left: 0;
    	z-index: 99;
}
	/* 定位 - 固定底部 */
.fixed-bottom {
    	position: fixed;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	z-index: 1;
}
.position-relative {
    	position: relative;
}
.position-absolute {
    	position: absolute;
}
.zindex-1 {
    	z-index: 1
}
	/* 圆角 */
.rounded {
    	border-radius: 12rpx;
}
.rounded-top {
    	border-top-left-radius: 12rpx;
    	border-top-right-radius: 12rpx;
}
.rounded-right {
    	border-top-right-radius: 12rpx;
    	border-bottom-right-radius: 12rpx;
}
.rounded-bottom {
    	border-bottom-right-radius: 12rpx;
    	border-bottom-left-radius: 12rpx;
}
.rounded-left {
    	border-top-left-radius: 12rpx;
    	border-bottom-left-radius: 12rpx;
}
.rounded-circle {
    	border-radius: 100rpx;
}
.rounded-50 {
    	border-radius: 50%;
}
	/* 内容溢出 */
.overflow-hidden {
    	overflow: hidden;
}
	/* 上三角 */
.triangle-up {
    	width: 0;
    	height: 0;
    	border-left: 12rpx solid transparent;
    	border-right: 12rpx solid transparent;
    	border-bottom: 12rpx solid #f61f1b;
}
	/* 下三角 */
.triangle-down {
    	width: 0;
    	height: 0;
    	border-left: 12rpx solid transparent;
    	border-right: 12rpx solid transparent;
    	border-top: 12rpx solid #f61f1b;
}
	/* 两行限制 */
.in1line {
    	display: -webkit-box !important;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	word-break: break-all;
    	-webkit-box-orient: vertical !important;
    	-webkit-line-clamp: 1;
}
.in2line {
    	display: -webkit-box !important;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	word-break: break-all;
    	-webkit-box-orient: vertical !important;
    	-webkit-line-clamp: 2;
}
.fl {
    	float: left;
}
.fr {
    	float: right;
}
.clearfix {
    	zoom: 1;
}
.clearfix:after {
    	content: '';
    	height: 0;
    	display: block;
    	clear: both;
}
	/* 隐藏 scroll-view 组件的滚动条*/
::-webkit-scrollbar {
    	display: none;
    	width: 0 !important;
    	height: 0 !important;
    	-webkit-appearance: none;
    	background: transparent;
}
.no-goods-img {
    	font-size: 24rpx;
    	color: #333333;
}
.no-goods-img image {
    	display: block;
    	margin: 20rpx auto;
    	width: 450rpx;
    	height: 383rpx
}
@font-face {
	font-family: "iconfont";
	/* Project id 1868455 */
	src:
		url('//at.alicdn.com/t/font_1868455_lr71zrdh7g.woff2?t=1653047459533') format('woff2'),
		url('//at.alicdn.com/t/font_1868455_lr71zrdh7g.woff?t=1653047459533') format('woff'),
		url('//at.alicdn.com/t/font_1868455_lr71zrdh7g.ttf?t=1653047459533') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-biaoqingfuhao:before {
	content: "\e6a5";
}
.icon-weizhi:before {
	content: "\e6a7";
}
.icon-lunbotu:before {
	content: "\e6aa";
}
.icon-wenben:before {
	content: "\e6ad";
}
.icon-xiaolian-line:before {
	content: "\e6ae";
}
.icon-kulian-line:before {
	content: "\e6af";
}
.icon-zidingyilie:before {
	content: "\e6b6";
}
.icon-xinxitishicopy:before {
	content: "\e6bf";
}
.icon-cuowu-fullcopy:before {
	content: "\e6c0";
}
.icon-guojihua:before {
	content: "\e6e4";
}
.icon-fuhao-:before {
	content: "\e704";
}
.icon-fuhao-command:before {
	content: "\e75f";
}
.icon-login:before {
	content: "\e766";
}
.icon-ziyuanjrit:before {
	content: "\e6b0";
}
.icon-ziyuanjrit1:before {
	content: "\e6b3";
}
.icon-ziyuanjrit2:before {
	content: "\e6b4";
}
.icon-ziyuanjrit3:before {
	content: "\e6b7";
}
.icon-ziyuanjrit4:before {
	content: "\e6b8";
}
.icon-fuhao-lianjie:before {
	content: "\e727";
}
.icon-huatifuhao:before {
	content: "\e8b0";
}
.icon-pintuankaituancantuan:before {
	content: "\e69f";
}
.icon-remen:before {
	content: "\e6a0";
}
.icon-kanjia1:before {
	content: "\e6a1";
}
.icon-pintuanzhuanqu:before {
	content: "\e6a2";
}
.icon-pintuan:before {
	content: "\e6a3";
}
.icon-wodekanjia1:before {
	content: "\e6a4";
}
.icon-xinpin:before {
	content: "\e69d";
}
.icon-chakan:before {
	content: "\e604";
}
.icon-pinglun:before {
	content: "\e891";
}
.icon-yuanxingxuanzhong:before {
	content: "\e731";
}
.icon-xiangce:before {
	content: "\e69c";
}
.icon-bangzhu1:before {
	content: "\e8c3";
}
.icon-fenlei4:before {
	content: "\e706";
}
.icon-yingxiangsheying:before {
	content: "\e70f";
}
.icon-yuyue:before {
	content: "\e69a";
}
.icon-paishe:before {
	content: "\e69b";
}
.icon-mingpian:before {
	content: "\e699";
}
.icon-wangluo:before {
	content: "\e697";
}
.icon-anzhuangshigong-xianxing:before {
	content: "\e8d6";
}
.icon-renzhengdunpaianquanbaozhangzhibao-xianxing:before {
	content: "\e7af";
}
.icon-fuwu1:before {
	content: "\e698";
}
.icon-REXcanzhuo_:before {
	content: "\e696";
}
.icon-dian:before {
	content: "\e695";
}
.icon-ruzhu:before {
	content: "\e765";
}
.icon-dingzhi:before {
	content: "\e694";
}
.icon-keyboard:before {
	content: "\e693";
}
.icon-caret-left:before {
	content: "\eb21";
}
.icon-you:before {
	content: "\e68e";
}
.icon-biaoqing:before {
	content: "\e68d";
}
.icon-yuyin:before {
	content: "\e6cf";
}
.icon-bofang:before {
	content: "\e68c";
}
.icon-shipin:before {
	content: "\e68b";
}
.icon-collect-01:before {
	content: "\e666";
}
.icon-collect2-01:before {
	content: "\e667";
}
.icon-delt2-01:before {
	content: "\e668";
}
.icon-download-01:before {
	content: "\e669";
}
.icon-upload-01:before {
	content: "\e66a";
}
.icon-heart-2-01:before {
	content: "\e66b";
}
.icon-heart1:before {
	content: "\e66c";
}
.icon-search-01:before {
	content: "\e66d";
}
.icon-shopping-01:before {
	content: "\e66e";
}
.icon-link-01:before {
	content: "\e670";
}
.icon-add-01:before {
	content: "\e671";
}
.icon-reduce-01:before {
	content: "\e672";
}
.icon-share-01:before {
	content: "\e674";
}
.icon-share2-01:before {
	content: "\e675";
}
.icon-location-01:before {
	content: "\e676";
}
.icon-location2-01:before {
	content: "\e677";
}
.icon-setting-01:before {
	content: "\e679";
}
.icon-back2-01:before {
	content: "\e67a";
}
.icon-next-01:before {
	content: "\e67b";
}
.icon-a-errorlight-01:before {
	content: "\e67e";
}
.icon-star-Admin-01:before {
	content: "\e67f";
}
.icon-Admin-01:before {
	content: "\e680";
}
.icon-like2-01:before {
	content: "\e681";
}
.icon-like-01:before {
	content: "\e682";
}
.icon-time-01:before {
	content: "\e683";
}
.icon-Service-01:before {
	content: "\e685";
}
.icon-Release-01:before {
	content: "\e686";
}
.icon-dustbin-01:before {
	content: "\e687";
}
.icon-a-voice-soundoff-01:before {
	content: "\e688";
}
.icon-voice-01:before {
	content: "\e689";
}
.icon-voice5-01:before {
	content: "\e68a";
}
.icon-zan1:before {
	content: "\e665";
}
.icon-guanfangrenzheng:before {
	content: "\e6a9";
}
.icon-miaosha:before {
	content: "\e663";
}
.icon-qianggou:before {
	content: "\e664";
}
.icon-hongbao:before {
	content: "\e660";
}
.icon-youhuiquan:before {
	content: "\e661";
}
.icon-haibao:before {
	content: "\e63e";
}
.icon-alarm_clock:before {
	content: "\e65c";
}
.icon-fenlei3:before {
	content: "\e65a";
}
.icon-servicehaiwaizhiyou:before {
	content: "\e658";
}
.icon-icon-test:before {
	content: "\e657";
}
.icon-weibiaoti1:before {
	content: "\e656";
}
.icon-fenlei2:before {
	content: "\e655";
}
.icon-qian:before {
	content: "\e64e";
}
.icon-dianhua:before {
	content: "\e64f";
}
.icon-bell:before {
	content: "\e64c";
}
.icon-icon-radio-check-disabled-copy:before {
	content: "\e64a";
}
.icon-ion-ios-checkmark-outline-IoniconsCopy3:before {
	content: "\e64b";
}
.icon-yijianfankui01:before {
	content: "\e646";
}
.icon-shouhuodizhi:before {
	content: "\e662";
}
.icon-shezhi2:before {
	content: "\e649";
}
.icon-tousuzixun:before {
	content: "\e6a6";
}
.icon-shangjia1:before {
	content: "\e78d";
}
.icon-taobaokefu-01:before {
	content: "\e645";
}
.icon-yinlian1193427easyiconnet:before {
	content: "\e65b";
}
.icon-lingquanzhongxin:before {
	content: "\e708";
}
.icon-wodekanjia:before {
	content: "\e638";
}
.icon-zhibobofangshexiangjitianxianxianxing:before {
	content: "\e63f";
}
.icon-fenxiang2:before {
	content: "\e641";
}
.icon-v:before {
	content: "\e653";
}
.icon-xiangji:before {
	content: "\e6fd";
}
.icon-jifen:before {
	content: "\e71b";
}
.icon-13:before {
	content: "\e63c";
}
.icon-shoucang1:before {
	content: "\e63a";
}
.icon-guanbi:before {
	content: "\e634";
}
.icon-xiangxiajiantou:before {
	content: "\e632";
}
.icon-shouye1:before {
	content: "\e651";
}
.icon-zhibo:before {
	content: "\e6ac";
}
.icon-top:before {
	content: "\e631";
}
.icon-yijianfankui:before {
	content: "\e65f";
}
.icon-lianxikefu:before {
	content: "\e648";
}
.icon-cainixihuan:before {
	content: "\e652";
}
.icon-daishouhuo1:before {
	content: "\e630";
}
.icon-shinshopdaipingjia:before {
	content: "\e62d";
}
.icon-daifukuan2:before {
	content: "\e76f";
}
.icon-yiwancheng:before {
	content: "\e64d";
}
.icon-weixin1:before {
	content: "\e7e5";
}
.icon-remai:before {
	content: "\e709";
}
.icon-shouhou:before {
	content: "\e62c";
}
.icon-pingjia:before {
	content: "\e626";
}
.icon-daishouhuo:before {
	content: "\e640";
}
.icon-daifahuo:before {
	content: "\e639";
}
.icon-dianshizhiboguankanshipinbofangmeiti:before {
	content: "\e625";
}
.icon-tuiguangrenguanli-:before {
	content: "\e633";
}
.icon-shoucang:before {
	content: "\e63d";
}
.icon-kanjia:before {
	content: "\e616";
}
.icon-wodepintuan:before {
	content: "\e62a";
}
.icon-xunipiaowu:before {
	content: "\e62e";
}
.icon-gonggao:before {
	content: "\e678";
}
.icon-coupon:before {
	content: "\e622";
}
.icon-choose:before {
	content: "\e63b";
}
.icon-yishiyong:before {
	content: "\e643";
}
.icon-yiguoqi:before {
	content: "\e642";
}
.icon-zhifubaozhifu1:before {
	content: "\e654";
}
.icon-xiaofeijilu:before {
	content: "\e635";
}
.icon-chongzhijilu:before {
	content: "\e620";
}
.icon-fuwu:before {
	content: "\e673";
}
.icon-mima:before {
	content: "\e61b";
}
.icon-fenxiang1:before {
	content: "\e65e";
}
.icon-zuji:before {
	content: "\e88e";
}
.icon-miaoshucopy:before {
	content: "\e623";
}
.icon-zuanshi1:before {
	content: "\e636";
}
.icon-qiandao:before {
	content: "\e65d";
}
.icon-gouxuan:before {
	content: "\e627";
}
.icon-fenlei1:before {
	content: "\e692";
}
.icon-fenlei:before {
	content: "\e629";
}
.icon-chuanshu:before {
	content: "\e62f";
}
.icon-22:before {
	content: "\e619";
}
.icon-tupian:before {
	content: "\e615";
}
.icon-tel:before {
	content: "\e618";
}
.icon-dizhi1:before {
	content: "\e644";
}
.icon-tuandui:before {
	content: "\e61c";
}
.icon-jiantou24:before {
	content: "\e72c";
}
.icon-yj:before {
	content: "\e650";
}
.icon-biyan:before {
	content: "\e6a8";
}
.icon-ico:before {
	content: "\e647";
}
.icon-zuanshi:before {
	content: "\e61d";
}
.icon-icon-:before {
	content: "\e624";
}
.icon-daifukuan:before {
	content: "\e691";
}
.icon-weixinzhifu2:before {
	content: "\e62b";
}
.icon-gouwuche:before {
	content: "\e69e";
}
.icon-ku:before {
	content: "\e617";
}
.icon-xiangshang:before {
	content: "\e6b1";
}
.icon-xiangxia1:before {
	content: "\e684";
}
.icon-shouye:before {
	content: "\e628";
}
.icon-sousuo1:before {
	content: "\e614";
}
.icon-jiahao:before {
	content: "\e613";
}
.icon-jianhao:before {
	content: "\e67c";
}
.icon-shanchu1:before {
	content: "\e67d";
}
.icon-tuiguangzhuanqian:before {
	content: "\e612";
}
.icon-dingdan:before {
	content: "\f1e5";
}
.icon-shang:before {
	content: "\e60d";
}
.icon-xia:before {
	content: "\e60e";
}
.icon-zan:before {
	content: "\e61f";
}
.icon-shangjia:before {
	content: "\e690";
}
.icon-serviceqitiantuihuan:before {
	content: "\e60c";
}
.icon-zhifubaozhifu:before {
	content: "\e621";
}
.icon-weixinzhifu:before {
	content: "\e611";
}
.icon-sousuo:before {
	content: "\e60b";
}
.icon-gouwuche1:before {
	content: "\e607";
}
.icon-faxian:before {
	content: "\e6d6";
}
.icon-wodedangxuan:before {
	content: "\e609";
}
.icon-index:before {
	content: "\e61a";
}
.icon-leimupinleifenleileibie:before {
	content: "\e60a";
}
.icon-weixin:before {
	content: "\e659";
}
.icon-cha:before {
	content: "\e6b5";
}
.icon-dizhi:before {
	content: "\e610";
}
.icon-youhuiquan01:before {
	content: "\e637";
}
.icon-guanzhu2:before {
	content: "\e6ab";
}
.icon-xiaoxi:before {
	content: "\e605";
}
.icon-shezhi1:before {
	content: "\e606";
}
.icon-qianbao:before {
	content: "\e66f";
}
.icon-guanzhu:before {
	content: "\e801";
}
.icon-guanzhu1:before {
	content: "\e601";
}
.icon-gouwuchekong:before {
	content: "\e603";
}
.icon-kefu:before {
	content: "\e600";
}
.icon-shezhi:before {
	content: "\e60f";
}
.icon-sandian:before {
	content: "\e68f";
}
.icon-pinpaibiaozhibarand:before {
	content: "\e800";
}
.icon-tiyanke:before {
	content: "\e61e";
}
.icon-saomiao:before {
	content: "\e602";
}
.icon-zhengpin:before {
	content: "\e6b2";
}
.icon-xiaoxi1:before {
	content: "\e608";
}

	/* h5 rich-text 图片宽度限制 */
.uni-rich-text ._img{

    max-width: 750rpx;
}
.page{
	  background-color: $uni-bg-color-grey;
}

